.release-list-container{
  display: flex;
  grid-area: b;
  flex-direction: column;
}

.release-list-container .release-header {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.release-list-container .release-header h2 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  color: var(--dark-text);
}

.release-list-container .release-header button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.release-list-container .release-list {
  margin-top: 30px;
}

.release-list-container .release-list .release-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.release-list .release-list-item .release-item-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 15px;
}

.release-list-item .release-item-info span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: 0.02em;
  color: var(--dark-text);
  margin-bottom: 12px;
  cursor: pointer;
}

.release-list-item .release-item-info p {
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.02em;
  color: var(--dark-text);
}

.release-list-item .status-text {
  margin-left: auto;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.0rem;
  letter-spacing: 0.02em;
  color: var(--dark-text);
}

.release-list-item .btn-delete-release {
  margin-left: auto;
  font-family: Roboto;
  font-size: 1.2rem;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--bg-red);
  background: transparent;
  cursor: pointer;
  border: none;
}