body {
  min-height: 600px;
}

.login-container {
  display: flex;
  height: 100%;
  width: 400px;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container img {
  margin-bottom: 80px;
}

.login-container form {
  width: 100%;
  padding: 0px 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.login-container form h1 {
  align-self: flex-start;
  margin-bottom: 50px;
  color: #FFFFFF;
}

.login-container form .input-group {
  margin-bottom: 30px;
}

.login-container form .btn-form {
  margin-top: 60px;
}

.login-container form .link-help {
  margin-top: 17px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 50px;
}

main img {
  width: 280px;
}
main .main-title {
  margin-top: 35px;
  font-size: 3.2rem;
  line-height: 3.7rem;
  font-weight: 400;
  color: var(--dark-text);
  text-align: center;
  max-width: 500px;
}

main .test-process {
  margin-top: 50px;
  display: flex;
  max-width: 620px;
  flex-direction: row;
}

main .test-process .test-process-item {
  flex: 1;
}

main .test-process .test-process-item div {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}

main .test-process .test-process-item div svg {
  position: absolute;
  right: -24px;
  top: 0;
  z-index: 5;
}

main .test-process .test-process-item div div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

main .test-process .test-process-item div div span {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;

  color: #FFFFFF;

}

main .test-process .test-process-item p {
  margin-top: 15px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark-text);
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  padding: 10px;
}

@media (max-width: 1100px) {
  .login-container {
    width: 350px;
  }
}

@media (max-width: 1040px) {
  main .test-process {
    display: none;
  }

  main {
    justify-content: center;
  }
}

@media (max-width: 860px) {

  main .main-title {
    font-size: 2.8rem;
  }

  main {
    padding: 40px;
  }
}

@media (max-width: 680px) {
  main {
    display: none;
  }

  .login-container {
    flex: 1
  }
}